
body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}


.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

form p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #ff5a5f;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e04348;
}

.cancel-button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    background-color: #555;
    border-radius: 4px;
    margin-right: 10px;
}

.cancel-button:hover {
    background-color: #333;
}