<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mbnb Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" type="text/css" href="static/home.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div class="header">
        <img src="/static/images/logo.jpeg" class="logo">
        <h1 class="main-title">Mbnb</h1>
        <div class="navigation" align="right">
            {% if user_id %}
                <a href="/users/{{ user_id }}" class="profile-link">My Profile</a>
                <a href="/logout" class="logout-link">Logout</a>
            {% else %}
                <a href="/login" class="login-link">Login</a>
                <a href="/signup" class="signup-link">Create an account</a>
            {% endif %}
        </div>
    </div>
    {% if session_active == True %}
    <div class="page-container">

        <h2 align="center" class="subtitle">Book your next getaway!</h2>
        {% else %}
        <h2 align="center" class="subtitle">Log in to book your next getaway</h2>
        {% endif %}
        <div class="spaces-container">
            
            {% for space in spaces %}
            <li class="space-card">
                <div class="space-details"><h2>{{space.name}}</h2>
                    <img src={{space.image_url}}>
                    <p>{{ space.area }}, {{ space.country }}</p>
                    <p>{{ space.max_guests }} guests</p>
                    <p class="space-price">From £{{space.price}} per night</p>
                    {% if session_active == True %}
                    <form action="/" method="POST">
                        <button type="submit" name="book_now_button" value="{{space.id}}">Book Now!</button>
                    </form>
                </div>
                
                {% endif %}
            </li>
            {% endfor %}
        </div>
        </div>
    </body>
    </html>